<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ankit.singh/ATB/Selenium/Learning_Selenium"><classes><class name="org.testing.basics.ex01_TestSelenium"><methods><include name="test_selenium01"/></methods></class></classes></test></suite>